{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Products" %}{% endblock %}

{% block styles %}
    <style>
        .img {
            width: 100px;
            height: 300px;
        }
    </style>
{% endblock %}

{% block main %}
    <br><br><br>
    <div class="container">
        <h1>{% trans "Products" %}</h1>
        <div class="row">
            {% for product in object_list %}
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <div class="card-header btn-outline-secondary">
                            {{ product.product_name }}
                        </div>
                        <img class="card-img-top img" src="{{ product.product_image.url }}"
                             alt="Card image cap">
                        <div class="card-body">
                            <a href="{% url 'product_detail' product.id %}"
                               class="btn btn-primary float-right">Detail</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
